@import url("https://fonts.cdnfonts.com/css/arial-2");
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@font-face {
  font-family: "Franklin Gothic Heavy";
  src: url("../fonts/ofont.ru_Franklin\ Gothic\ Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  margin: 0 auto;
  padding: 0;
  font-family: "Arial", sans-serif;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.container {
  max-width: 1147px;
  width: 100%;
  padding-left: 38px;
  padding-right: 38px;
  box-sizing: border-box;
  margin: 0 auto;
}
.promo {
  width: 100%;
  background: #edf7fa;
}
.promo__wrapper {
  padding-top: 84px;
  padding-bottom: 112px;
  box-sizing: border-box;
  display: flex;
  gap: 48px;
}
.promo__title {
  font-family: "Franklin Gothic Heavy", sans-serif;
  font-weight: 400;
  font-size: 84px;
  line-height: 136px;
  letter-spacing: 0.3rem;
  color: #000000;
}
.promo__title span {
  text-align: end;
}
.promo__image {
  margin-top: 103px;
}
.harm {
  width: 100%;
}
.harm__wrapper {
  padding-top: 71px;
  padding-bottom: 65px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.harm__top {
  display: flex;
  gap: 36px;
}
.harm__images {
  width: 309px;
  height: 705px;
  background: #487fc1;
  margin-left: 115px;
  margin-top: 12px;
  position: relative;
}
.harm__img {
  width: 298px;
  height: 227px;
  position: absolute;
  top: 248px;
  left: -96px;
}
.harm__icon {
  width: 152px;
  height: 152px;
  position: absolute;
  top: 132px;
  right: 31px;
}
.harm__text {
  max-width: 559px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.harm__text-title {
  max-width: 431px;
  width: 100%;
  font-family: "Franklin Gothic Heavy", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 51px;
  color: #000000;
  text-align: center;
  letter-spacing: 0.2rem;
}
.harm__text-subtitle {
  font-weight: 400;
  font-size: 26px;
  line-height: 49px;
  letter-spacing: 0.3rem;
  color: #000000;
  text-align: center;
  letter-spacing: 0.2rem;
  margin-top: 25px;
}
.harm__text-img {
  width: 174px;
  height: 174px;
  position: absolute;
  bottom: -85px;
  right: 0;
}
.harm__list {
  width: 100%;
  height: 923px;
  border-radius: 198px;
  background: #edf7fa;
  margin-top: 107px;
  display: flex;
  padding-top: 40px;
  box-sizing: border-box;
}
.harm__list-item {
  display: flex;
}
.harm__list-number {
  width: 137px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 90px;
}
.harm__number {
  font-family: "Bakbak One", sans-serif;
  font-weight: 400;
  font-size: 128px;
  line-height: 156px;
  color: #000;
}
